* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100vh;
  border: 1px solid red;
}

.header {
  background-color: lavender;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  width: 50vw;
}

section {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  padding: 2px;
  border-radius: 4px;
  width: 50vw;
}

section form {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  padding: 5px;
}

section form * {
  background-color: lavender;
  border-radius: 4px;
  padding: 2px;
}

.recurring {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  padding: 0;
}

.recurring div {
  padding: 0;
}

.recurring div h5 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

section form button {
  margin-top: 10px;
  align-self: center;
}

.dateSection {
  display: flex;
  justify-content: space-around;
}

.dates {
  display: flex;
  flex-direction: column;
}

.alert {
  color: red;
}

@media only screen and (max-width: 900px) {
  .dateSection {
    display: block;
  }
}

@media only screen and (max-height: 852px) and (max-width: 900px) {
  .App {
    height: 100%;
  }
}
